body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
}

h1, h2 {
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

nav a {
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: #3498db;
}

button {
  margin-right: 5px;
  margin-left: 5px;
}